<main class="main">
  <app-logo></app-logo>
  <div class="content">
    <div class="left-side">
      <p>From</p>
      <select id="from-time-zone" [(ngModel)]="fromTz">
        @for (tz of timeZones; track tz.zoneName) {
        <option [value]="tz.zoneName">{{ tz.zoneName }}</option>
        }
      </select>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <p>To</p>
      <select id="to-time-zone" [(ngModel)]="toTz">
        @for (tz of timeZones; track tz.zoneName) {
        <option [value]="tz.zoneName">{{ tz.zoneName }}</option>
        }
      </select>
    </div>
  </div>
  <div class="content">
    <div class="left-side">
      <p>Date</p>
      <input type="date" [(ngModel)]="fromDate" />
      <input type="time" [(ngModel)]="fromTime" />
    </div>

    <button id="convert" (click)="convert()">Convert</button>

    <div class="right-side">
      <p>Converted date</p>
      @if (isConverting) {
      <span>loading...</span>
      } @else {
      {{ convertedDate }}
      }
    </div>
  </div>
</main>
